@font-face {
  font-family: "Montsarrat-Regular";
  src: url(../src/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montsarrat-SemiBold";
  src: url(../src/assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "TT-Firs-Medium";
  src: url(../src/assets/fonts/TT_Firs_Neue_Trial_Medium.ttf);
}
@font-face {
  font-family: "TT-Firs-Regular";
  src: url(../src/assets/fonts/TT_Firs_Neue_Trial_Regular.ttf);
}
@font-face {
  font-family: "TT-Firs-Light";
  src: url(../src/assets/fonts/TT_Firs_Neue_Trial_Light.ttf);
}

:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montsarrat-Regular";
  font-size: 15px;

  --small-spacing: 30px;
  --medium-spacing: 50px;
  --large-spacing: 80px;

  --theme-color: rgb(52, 52, 189);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--theme-color);
  color: white;
}
/* ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #e6e6e6;
  border-radius: 10px;
} */
