@font-face {
  font-family: "Montsarrat-Regular";
  src: url(../src/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montsarrat-Medium";
  src: url(../src/assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montsarrat-SemiBold";
  src: url(../src/assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "TT-Firs-Medium";
  src: url(../src/assets/fonts/TT_Firs_Neue_Trial_Medium.ttf);
}
@font-face {
  font-family: "TT-Firs-Regular";
  src: url(../src/assets/fonts/TT_Firs_Neue_Trial_Regular.ttf);
}
@font-face {
  font-family: "TT-Firs-DemiBold";
  src: url(../src/assets/fonts/TT_Firs_Neue_Trial_DemiBold.ttf);
}
@font-face {
  font-family: "TT-Firs-Light";
  src: url(../src/assets/fonts/TT_Firs_Neue_Trial_Light.ttf);
}

:root {
  line-height: 2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montsarrat-Medium";
  font-size: 15px;

  --small-spacing: 30px;
  --medium-spacing: 50px;
  --large-spacing: 80px;

  --grey-color: rgb(177, 177, 177);
  --theme-color: rgb(80, 80, 238);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  pointer-events: none;
}
::selection {
  background-color: var(--theme-color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
}
